@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1>Hello World</h1>
    <hr />
    <h3 class="text-danger">
        My Name is Sina Nazari I Am Programer I Control Your Life ...
    </h3>
</div>
