@{
    ViewData["Title"] = "Privacy Policy";
    //ViewData["KeyWords"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

@section SEO
{
<meta name="keywords" content="TEst,Pages,first,TestPage" />
<meta name="description" content="description My Portfolio" />
}

<p>Use this page to detail your site's privacy policy.</p>
