@{
    ViewData["Title"] = "Test";
    //ViewData["KeyWords"] = "Test1,Test2,Test3";
}

@section SEO
{
<meta name="keywords" content="TEst,Pages,first,TestPage" />
<meta name="description" content="description My Portfolio" />
}

<h3 class="text-danger">Hello</h3>

@section scripts{
    <script src="~/js/MyScript.js"></script>
}